<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Script.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ScriptRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Script.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ScriptRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Script.Properties.Settings>
            <setting name="UserScripts" serializeAs="String">
                <value>%appdata%\ScriptRunner\UserScripts</value>
            </setting>
            <setting name="UserWmi" serializeAs="String">
                <value>%appdata%\scriptRunner\UserwmiQueries.json</value>
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>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</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
        </Script.Properties.Settings>
        <ScriptRunner.Properties.Settings>
            <setting name="UserScripts" serializeAs="String">
                <value>%appdata%\ScriptRunner\UserScripts</value>
            </setting>
            <setting name="UserWmi" serializeAs="String">
                <value>%appdata%\scriptRunner\UserwmiQueries.json</value>
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
        </ScriptRunner.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Script.Properties.Settings>
            <setting name="ScriptsPath" serializeAs="String">
                <value>%appdata%\ScriptRunner\Scripts</value>
            </setting>
            <setting name="SavedWmi" serializeAs="String">
                <value>%appdata%\scriptRunner\wmiQueries.json</value>
            </setting>
        </Script.Properties.Settings>
        <ScriptRunner.Properties.Settings>
            <setting name="ScriptsPath" serializeAs="String">
                <value>%appdata%\ScriptRunner\Scripts</value>
            </setting>
            <setting name="SavedWmi" serializeAs="String">
                <value>%appdata%\scriptRunner\wmiQueries.json</value>
            </setting>
        </ScriptRunner.Properties.Settings>
    </applicationSettings>
</configuration>